
{# Helpful macros to produce links. #}

{% macro link_index(page = None) %}
    {{- url_for('index', page = page) -}}
{% endmacro %}

{% macro link_archive() %}
    {{- url_for('archive') -}}
{% endmacro %}

{% macro link_page(page) %}
    {{- url_for('page', path = page.path) -}}
{% endmacro %}

{% macro link_page_by_path(path) %}
    {{- url_for('page', path = path) -}}
{% endmacro %}

{% macro link_post(post) %}
    {{- url_for('post', path = post.path) -}}
{% endmacro %}

{% macro link_post_by_path(path) %}
    {{- url_for('post', path = path) -}}
{% endmacro %}

{% macro link_tag(tag) %}
    {{- url_for('tag', tag = tag) -}}
{% endmacro %}

{% macro link_static(filename) %}
    {{- url_for('static', filename = filename) -}}
{% endmacro %}


{# Generate an unordered list from an iterable (such as posts). #}

{% macro listing(iterable) %}
    <ul>
        {% for item in iterable %}
            <li> {{ caller(item) }} </li>
        {% endfor %}
    </ul>
{% endmacro %}

