
{% from '_macros.html' import listing %}

<div class="title">
    Archive
</div>

<div class="subtitle">
    all the posts in {{ tag or 'the blog' }}, sorted by date
</div>

<div class="content">
    <div class="three-column">
        <div class="left">
            {% call(tag) listing(posts_by_tag | sort) %}
                <a href="{{ url_tag(tag) }}">{{ tag }}</a>
            {% endcall %}
        </div>

        <div class="center">
            {% call(post) listing(posts) %}
                <a href="{{ url_post(post) }}">{{ post.meta.title }}</a>
            {% endcall %}
        </div>

        <div class="right">
            {% call(post) listing(posts) %}
                {{ post.meta.date }}
            {% endcall %}
        </div>
    </div>

    <div style="clear: both;"></div>
</div>

