
{% extends '_base.html' %}
{% from '_macros.html' import url_index, url_post %}

{% block content %}
    {% set pagination = posts | paginate(page, 1) %}

    {% if pagination %}
        {% set posts = pagination.items %}
    {% endif %}

    {% for post in posts %}
        {% include '_render-post.html' %}

        <div class="multilink">
            <a href="{{ url_post(post) }}">permalink</a>
        </div>
    {% endfor %}

    {% if pagination %}
        <div class="prevnext">
            <ul>
                {% if pagination.has_prev %}
                    <li> <a href="{{ url_index(page - 1) }}">&laquo; newer</a> </li>
                {% endif %}

                {% if pagination.has_next %}
                    <li> <a href="{{ url_index(page + 1) }}">older &raquo;</a> </li>
                {% endif %}
            </ul>
        </div>
    {% endif %}
{% endblock %}

