
/* Global. */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Helvetica, Arial, sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}


/* Top navigation bar. */

.top-bar {
    background-color: #ECECEC;
    font-size: 0.875em;
    height: 1.5em;
    line-height: 1.5em;
    min-width: 48em;
    text-align: center;
}

.top-bar li {
    display: inline;
}

.top-bar a {
    color: #AAAABB;
    padding: 0 2em 0 2em;
}

.top-bar a:hover { color: #666; }


/* Wrapper. */

.wrapper {
    margin: 1.5em auto;
    max-width: 52em;
    min-width: 42em;
    width: 65%;
}


/* Content title/subtitle. */

.title {
    color: #9C7738;
    font-size: 1.2em;
    font-weight: bold;
    line-height: 1.1em;
    margin-top: 1em;
}

.subtitle {
    color: #AAA;
    font-size: 0.9em;
    line-height: 1.1em;
}


/* Multiple horizontal links. */

.multilink {
    color: #666;
    display: inline;
    font-size: 0.8em;
    padding-left: 0.5em;
}

.multilink a { color: #666; }
.multilink a:hover { color: #8C1636; }


/* Content body. */

.content {
    padding-left: 1em;
}

.content p {
    color: #222;
    font-size: 0.875em;
    line-height: 1.3em;
    margin: 0.875em 0;
}

.content h2 {
    color: #666;
    font-size: 1em;
    margin-top: 1em;
}

.content a { color: #9C7738; }
.content a:hover { color: #8C1636; }


/* For use inside posts or other content (e.g. to align images). */

.align-left {
    float: left;
    padding-right: 0.7em;
    margin: 0.2em;
}

.align-right {
    float: right;
    padding-left: 0.7em;
    margin: 0.2em;
}


/* Previous/next page. */

.prevnext {
    font-size: 0.875em;
    margin-top: 2em;
    text-align: center;
}

.prevnext li {
    display: inline;
}

.prevnext a {
    color: #666;
    margin: 0 2em 0 2em;
}

.prevnext a:hover { color: #8C1636; }


/* Three column content (archives). */

.three-column {
    font-size: 0.875em;
    line-height: 1.3em;
    margin-top: 0.875em;
}

.three-column .left {
    float: left;
    width: 20%;
}

.three-column .center {
    float: left;
    width: 60%;
}

.three-column .right {
    color: #999;
    float: right;
}

.three-column .left a { color: #AAA; }
.three-column .left a:hover { color: #8C1636; }

.three-column .center a { color: #9C7738; }
.three-column .center a:hover { color: #6C4708; }


/* Syntax highlighting. */

.codehilite {
    background-color: #F3F3F3;
    line-height: 1em;
    margin: 0.25em;
    padding: 0.5em;
}

